@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?54900193');
  src: url('./font/fontello.eot?54900193#iefix') format('embedded-opentype'),
    url('./font/fontello.woff2?54900193') format('woff2'),
    url('./font/fontello.woff?54900193') format('woff'),
    url('./font/fontello.ttf?54900193') format('truetype'),
    url('./font/fontello.svg?54900193#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?54900193#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  /* width: 1em; */
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  /* line-height: 1em; */

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before {
  content: '\e800';
}

/* '' */
.icon-left-open:before {
  content: '\e801';
}

/* '' */
.icon-right-open:before {
  content: '\e802';
}

/* '' */
.icon-up-open:before {
  content: '\e803';
}

/* '' */
.icon-down-open-mini:before {
  content: '\e804';
}

/* '' */
.icon-left-open-mini:before {
  content: '\e805';
}

/* '' */
.icon-right-open-mini:before {
  content: '\e806';
}

/* '' */
.icon-up-open-mini:before {
  content: '\e807';
}

/* '' */
.icon-down-open-big:before {
  content: '\e808';
}

/* '' */
.icon-left-open-big:before {
  content: '\e809';
}

/* '' */
.icon-right-open-big:before {
  content: '\e80a';
}

/* '' */
.icon-up-open-big:before {
  content: '\e80b';
}

/* '' */
.icon-down-small:before {
  content: '\e80c';
}

/* '' */
.icon-left-small:before {
  content: '\e80d';
}

/* '' */
.icon-right-small:before {
  content: '\e80e';
}

/* '' */
.icon-up-small:before {
  content: '\e80f';
}

/* '' */
.icon-location-outline:before {
  content: '\e810';
}

/* '' */
.icon-location:before {
  content: '\e811';
}

/* '' */
.icon-calendar:before {
  content: '\e812';
}

/* '' */
.icon-calendar-1:before {
  content: '\e813';
}

/* '' */
.icon-linkedin:before {
  content: '\e814';
}

/* '' */
.icon-plus:before {
  content: '\e815';
}

/* '' */
.icon-search:before {
  content: '\e816';
}

/* '' */
.icon-down-dir:before {
  content: '\e817';
}

/* '' */
.icon-up-dir:before {
  content: '\e818';
}

/* '' */
.icon-left-dir:before {
  content: '\e819';
}

/* '' */
.icon-right-dir:before {
  content: '\e81a';
}

/* '' */
.icon-light-arrow-right:before {
  content: '\e81b';
}

/* '' */
.icon-light-beds:before {
  content: '\e81c';
}

/* '' */
.icon-light-bathroom:before {
  content: '\e81d';
}

/* '' */
.icon-light-share:before {
  content: '\e81e';
}

/* '' */
.icon-globe:before {
  content: '\e81f';
}

/* '' */
.icon-light-show-date:before {
  content: '\e820';
}

/* '' */
.icon-light-public-sale:before {
  content: '\e821';
}

/* '' */
.icon-light-ticket-price:before {
  content: '\e822';
}

/* '' */
.icon-light-event:before {
  content: '\e823';
}

/* '' */
.icon-light-clock:before {
  content: '\e824';
}

/* '' */
.icon-light-date:before {
  content: '\e825';
}

/* '' */
.icon-light-adult:before {
  content: '\e826';
}

/* '' */
.icon-light-tickets:before {
  content: '\e827';
}

/* '' */
.icon-light-restaurant:before {
  content: '\e828';
}

/* '' */
.icon-light-rooms:before {
  content: '\e829';
}

/* '' */
.icon-light-arrow-up:before {
  content: '\e82a';
}

/* '' */
.icon-light-globe:before {
  content: '\e82b';
}

/* '' */
.icon-light-search:before {
  content: '\e82c';
}

/* '' */
.icon-light-arrow-right-1:before {
  content: '\e82d';
}

/* '' */
.icon-light-book:before {
  content: '\e82e';
}

/* '' */
.icon-light-tel:before {
  content: '\e82f';
}

/* '' */
.icon-light-dress:before {
  content: '\e830';
}

/* '' */
.icon-light-book-1:before {
  content: '\e831';
}

/* '' */
.icon-light-trip-advisor:before {
  content: '\e832';
}

/* '' */
.icon-light-suite-size:before {
  content: '\e833';
}

/* '' */
.icon-facebook:before {
  content: '\f052';
}

/* '' */
.icon-twitter:before {
  content: '\f058';
}

/* '' */
.icon-youtube-play:before {
  content: '\f16a';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */