@font-face {
  font-family: 'Avenir_Light';
  font-style: normal;
  font-weight: 200;
  src: url('../avenir/AvenirLTProLight.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir_Book';
  font-style: normal;
  font-weight: 400;
  src: url('../avenir/AvenirLTProBook.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir_Roman';
  font-style: normal;
  font-weight: 400;
  src: url('../avenir/AvenirLTProRoman.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir_Medium';
  font-style: normal;
  font-weight: 600;
  src: url('../avenir/AvenirLTProMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir_Heavy';
  font-style: normal;
  font-weight: 700;
  src: url('../avenir/AvenirLTProHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir_Black';
  font-style: normal;
  font-weight: 900;
  src: url('../avenir/AvenirLTProBlack.otf') format('opentype');
}