button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.btn {
  font-size: 1rem;
  height: auto;
  width: auto;
  font-family: $font_family_sec;
  line-height: 1;
  border: 1px solid transparent;
  padding: 0.75rem;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.pri-btn {
    color: #fff;
    background-color: $primary;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: darken($primary, 5);
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.btn-lang {
  font-size: 0.7rem;
  border: 0;


}

.btn-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: $font_family_sec_700;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  letter-spacing: 1px;

  &:hover {
    color: darken($primary, 5);
  }
}