footer {
  position: relative;
  bottom: 0;
  background-color: #231e1a;
  z-index: 2;
  padding-bottom: 1px;


  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-content {
  padding: 2rem 1rem;
}

.footer-title {
  position: relative;
  display: flex;
  font-size: 1.2rem;
  padding: 1.2rem;
  font-weight: 700;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  p {
    color: #fff;
  }

  // span {
  //   transform: rotate(0);
  //   transition: transform .25s ease-in-out;
  // }

  // &.active {
  //   span {
  //     transform: rotate(90deg);
  //     transition: transform .25s ease-in-out;
  //   }
  // }
}

.footer-link {
  display: block;
  margin-bottom: 1rem;
}

.footer-menu {
  display: none;
  padding: 0 1.2rem;


  &.active {
    display: block;
  }
}

.footer-block {
  flex-grow: 1;

  &:not(:last-of-type) {
    border-bottom: 1px solid #ffffff71;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 2rem;
  }
}

.footer-copyright {
  position: relative;
  color: #fff;
  text-align: center;
  padding: .75rem;
  font-size: 0.85rem;
  bottom: -1px;
  border-top: 1px solid #3f3f3f;
}

.plus-minus {
  padding: 0;
  position: absolute;
  top: 50%;
  right: 2%;
  min-height: 0;
  background-color: transparent;

  &:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: #fff;
    right: 0;
    top: 50%;
    transition: all .25s cubic-bezier(1, 0, 0, 1);
  }

  &:after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    transition: all .25s cubic-bezier(1, 0, 0, 1);
  }

  &.active {
    &:before {
      transform: rotate(180deg);
    }

    &:after {
      transform: rotate(180deg);
    }
  }
}