footer {
  position: relative;
  bottom: 0;
  background-color: #231e1a;
  z-index: 2;
  padding-bottom: 1px;


  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  padding: 2rem 1rem;
}

.footer-title {
  position: relative;
  display: flex;
  font-size: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  font-family: $font_family_sec;
  text-transform: uppercase;

  p {
    color: #fff;
    text-transform: uppercase;
  }
}

.footer-link {
  display: block;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.footer-menu {
  display: none;
  padding: 0 1.2rem;

  .footer-title {
    padding: 0;
    cursor: pointer;
  }

  &.active {
    display: block;
  }
}

.footer-block {
  &.added {
    // display: ;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    padding: 0 2rem;
  }
}

.footer-copyright {
  position: relative;
  color: #fff;
  text-align: center;
  padding: .75rem;
  font-size: 0.85rem;
  bottom: -1px;
  border-top: 1px solid #3f3f3f;
  font-size: 13px;

  a {
    font-family: $font_family_sec;
    font-size: 13px;
    font-weight: 100;
  }
}

.plus-minus {
  padding: 0;
  position: absolute;
  top: 50%;
  right: 2%;
  min-height: 0;
  background-color: transparent;

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    right: 0;
    top: 50%;
    transition: all .25s cubic-bezier(1, 0, 0, 1);
  }

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    transition: all .25s cubic-bezier(1, 0, 0, 1);
  }

  &.active {
    &:before {
      transform: rotate(180deg);
    }

    &:after {
      transform: rotate(180deg);
    }
  }
}

.footer-inner-title {
  display: none;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

  img {
    width: 260px;
  }
}

.social-links {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: #393430;
    border-radius: 50px;
    margin-right: 9px;
    transition: .2s ease-in-out;
    font-size: 1.245rem;

    &:hover {
      background-color: $white;
      color: #393430;
    }
  }
}

.social {
  text-align: center;

  p {
    font-family: $font_family_sec_900;
    margin-bottom: 1rem;
    color: $white;
    text-transform: uppercase;
  }
}

.footer-address {
  padding: 0 1.2rem;

  p {
    font-size: 13px;
    color: $white;
    font-family: $font_family_sec;
    line-height: 2;
    margin-bottom: 2rem;
  }
}