header {}


nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}


.header-first {
  display: none;
  position: absolute;
  height: 2rem;
  background-color: rgb(243, 243, 243);
  color: #000;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  img {
    height: 90px;
  }

  a,
  span {
    color: #303030;
    font-size: 0.7rem;
  }

  a {
    padding-left: .75rem;
    padding-right: .75rem;

    &:hover {
      text-decoration: underline;
    }

    &:not(:last-of-type) {
      border-right: 1px solid #000;
    }
  }

  div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header-second {
  z-index: 10;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.menu-item {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.menu-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DF6A2E;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.menu-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-menu {
  display: none;
  justify-content: center;
  height: 60px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 70px;
  background-color: rgba(36, 36, 36, 0.95);
  transition: top 0.2s ease 0s;
  padding: 1rem;
  min-width: 230px;
}

.menu-link {
  display: block;
  padding: 20px 16px;
  color: #fff;
}

.menu-item {
  &:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 60px;
  }

  a {
    display: block;
    color: #fff;
    font-size: 14px;
  }
}

.sub-menu-item {
  &:not(:last-of-type) {
    a {
      border-bottom: 1px solid #686868;
    }
  }
}

.sub-menu-link {
  padding: 0.75rem 0;

}

.menu-link,
.sub-menu-link {
  transition: 0.2s ease 0s;

  &:hover {
    color: #df6a2e;
  }
}

.side-nav {
  position: relative;
  top: 0;
  transform: translateX(-100%);
  width: 85%;
  z-index: 1;

  &.active {
    transform: translateX(0);
    height: 100vh;
    transition: transform .3s ease-in-out;
  }
}

.side-menu-wrapper {
  position: relative;
  height: 100vh;
  z-index: 3;
  background-color: rgb(0, 0, 0);
}

.side-sub-menu {
  display: none;

  &.active {
    display: block;
  }
}

.side-menu-item {
  .menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.menu-wrapper {
  display: flex;
  position: relative;
  z-index: 1;

  &:first-of-type {
    margin-right: 4.5rem;
  }

  &:last-of-type {
    margin-left: 5rem;
  }
}

.logo-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  position: relative;
  background-color: #000;
  padding: 12px 8px 15px;
  top: -2rem;
  left: 0.6rem;

  .xs {
    display: none;
  }
}

.search-btn {
  position: absolute;
  right: 0;
  top: 1rem;
}

.search-container {
  position: relative;
  background-color: #00000093;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  top: 60px;
  padding-bottom: 2rem;
  transition: top .35s ease 0s;
  height: 0;


  &.active {
    height: auto;
    opacity: 1;
    top: 0;
    z-index: 1;

    a {
      display: block;
    }
  }

  a {
    display: none;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid rgb(80, 82, 84);
  }

  input {
    margin-top: 2rem;
    padding: 1rem;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(80, 82, 84);
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #fff;
    }
  }

  .search {
    width: 40%;
  }

  .search-related {
    display: flex;
    flex-direction: column;
    // position: absolute;
    // right: 0;
    // height: 10;
  }
}

.search-container-mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  left: 0px;
  top: 60px;
  display: none;

  &.active {
    display: block;
  }
}

// .side-menu-mask {
//   width: 97vw;
//   height: 100%;
//   background: red;
//   background: rgba(0, 0, 0, 0.247);
//   z-index: 8;
//   position: absolute;
//   left: 0px;
//   top: 0px;
// }