.overlay-parallax {
  position: relative;
  z-index: 1;
}




.featured-slider {

  // position: relative;
  // margin: 0 auto;
  // // width: 95vw;
  // overflow-x: hidden;
  // height: 50%;

  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    display: none;
  }

  &:hover {

    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }


  .swiper-pagination {
    display: block;
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    transition: opacity 0.25 ease-in-out;
    top: 35%;
  }

  .swiper-button-prev {
    left: 8%;
  }

  .swiper-button-next {
    right: 8%;
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;

  }
}


.featured-slider-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;

  .description {
    padding: 2rem 0;
  }

  h4 {
    margin-bottom: 1.275rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 26px;
  }

  .img-container {
    position: relative;
    // z-index: 1;
  }

  .img-holder {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // max-height: 210px;
    z-index: 1;
  }
}


.featured-slider-container-2 {
  max-width: 1920px;

  .heading-top {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    opacity: 1;
  }

  .swiper-slide {
    max-width: 1200px;
  }

  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    opacity: 0.85;
  }



}


.featured-slider-layout-2 {
  .description {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
  }


  .info {
    padding-right: 2rem;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}




//