.overlay-parallax {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh + 70px);
  background-color: $white;
}



.featured-slider-container {
  position: relative;
  user-select: none;

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    background-color: rgb(255, 255, 255, .25);
    top: 50%;
  }

  .button-next-slider-2,
  .button-prev-slider-2 {
    top: 38%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  &:hover {

    .swiper-button-next,
    .swiper-button-prev {
      background-color: $white;
    }
  }


  .description {
    padding: 1.5rem 1rem;

    .btn-text {
      display: block;
      margin-top: 1.875rem;
    }


  }

  h4 {
    margin-bottom: 1.275rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 26px;
    font-family: $font-family_sec;
  }

  .img-container {
    position: relative;
    overflow: hidden;
    // z-index: 1;
  }

  .img-holder {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      transition: transform .35s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .date,
  .store-hours,
  .store-location {
    font-family: $font-family_sec-500;
    color: $gray;
  }

  .store-hours,
  .store-location {
    display: flex;
    font-size: 1rem;

    span {
      width: 20px;
    }
  }

}

.recommend-tag {
  display: block;
  font-family: $font-family_sec-700;
  color: $gray;
  margin-bottom: 6px;
}

.slider-layout {
  max-width: 1200px;
  overflow: hidden;

  article {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}


.slider-with-tab {
  // .heading-top {
  //   margin-bottom: 0;
  // }

  .slider-tab,
  .slider-tab-2 {
    margin-bottom: 2rem;

    a {
      border-bottom: 1px solid;
      color: $gray;
      margin-right: 1rem;
      line-height: 30px;

      &.active {
        color: $primary;
      }
    }
  }
}

.slider-tab-content,
.slider-tab-content-2 {
  display: none;

  &.active {
    display: block;
  }
}

.full-width {
  padding-left: 0;
  padding-right: 0;

  h2 {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 14px;
  }

  .heading-top {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .description {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    text-align: left;
  }

  .info {
    h3 {
      margin-bottom: 10px;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}

// Inner page content
.inner-page-information {
  width: 100%;
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #d2d2d2;

  .info-title {
    font-size: 1.25rem;
    font-family: $font-family_sec-700;
    color: $brown;
    margin: 1.5rem 0;
  }

  .info-item {
    display: flex;
    margin-bottom: 1.5rem;

    span {
      width: 20px;
    }
  }

  .desc {
    padding-left: 12px;

    b {
      font-family: $font-family_sec-500;
    }

    p {
      margin-top: 8px;
      line-height: 24px;
    }
  }

  .see-all-container {
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;

    .btn {
      width: 50%;
      margin-left: 0;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.action-single-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;

  .btn {
    width: 100%;
    max-width: 350px;
  }
}


.title-description {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 24px;
    margin-bottom: 1rem;
  }
}

.featured-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.slider-2 {
  .img-container {
    img {
      min-height: 250px;
    }
  }
}

.block-content.dining-specials {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
  padding-top: 0;

  .heading-top {
    padding-bottom: 1rem;
  }

  h3 {
    font-family: $font-family-sec-700;
    font-size: 1.25rem;
  }
}