body {
	&.active {
		overflow: hidden;
	}
}

main {
	position: relative;
	z-index: 1;
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
}

// .swiper {
// 	width: 100%;
// 	height: 100%;
// }
// .swiper-slide img {

// 	display: block !important;
// 	width: 100% !important;
// 	height: 100% !important;
// 	object-fit: cover !important;
// 	max-height: 250px !important;
// }



.main-slider {
	// max-width: 1920px;
	height: 100%;

	.img-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.content-text {
		position: relative;
		padding: 0 15% 2%;
		z-index: 2;
		display: block;
		margin: 0 auto;

		h1 {
			margin-top: 0;
		}

		p {
			display: block;
			margin: 0 auto;
			max-width: 80%;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		right: 3rem;
	}

	.swiper-button-prev {
		left: 3rem;
	}

	.swiper-slide {
		background: #dddddd;
	}
}

.main-banner-content {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination {
	margin-bottom: -2rem;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: lighten($black, 25%);
}

.swiper-pagination-bullet-active {
	background-color: lighten($primary, 10%);
}


.swiper-button-next,
.swiper-button-prev {
	padding: 1rem;
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&:after {
		font-size: 1.5rem;
		color: $black;
		font-weight: 800;
	}

	&:hover {

		&:after {
			color: $brown;
		}
	}
}

.swiper-button-next {
	right: 1%;
}

.swiper-button-prev {
	left: 1%;
}

.main-pagination {
	position: absolute;
	z-index: 1;
	bottom: 20% !important;
	text-align: center;
}

.hero-parallax {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 70px;
	height: 50vh;
}

// .block-content {
// 	max-width: 1200px;
// 	background-color: $white;
// 	margin: 0 auto;
// }


// .custom-select {
// 	position: relative;
// 	width: 200px;
// }

// .select-header {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	padding: 10px;
// 	border: 1px solid #ccc;
// 	cursor: pointer;
// }

// .selected-option {
// 	flex-grow: 1;
// }

// .arrow {
// 	width: 10px;
// 	height: 10px;
// 	border-left: 1px solid #ffffff;
// 	border-bottom: 1px solid #ffffff;
// 	transform: rotate(315deg);
// 	transition: transform 0.2s;
// }

// .select-options {
// 	position: absolute;
// 	top: 100%;
// 	left: 0;
// 	right: 0;
// 	display: none;
// 	background-color: #000000;
// 	border: 1px solid #ccc;
// 	z-index: 999;
// }

// .option {
// 	padding: 10px;
// 	cursor: pointer;
// }

// .option:hover {
// 	background-color: #f0f0f0;
// 	color: #000000;
// }

.back-to-top {
	position: fixed;
	font-size: 4rem;
	bottom: 0;
	right: 2rem;
}


.booking {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 0 1.4rem;
	transform: translateY(-4rem);

	&.on-scroll {
		transform: translateY(-4rem);
	}

	form {
		box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, .25);
	}
}

.book-widget {
	display: flex;
	flex-direction: column;
	background-color: $brown;

}

.book-item {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 5%;
		height: 1px;
		width: 90%;
		background-color: #5c5c5c;
	}

	&:nth-last-child(2),
	&:last-of-type {
		&::after {
			display: none;
		}
	}
}

.book-select {
	padding: 1.5rem 1.4rem;
	cursor: pointer;
}

.book-list {
	top: 100%;
	left: 0;
	background: $brown_light;
	padding-top: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 1rem;
	display: none;

	&.active {
		display: block;
	}
}

.book-list-item {
	font-size: 0.875rem;
	padding: .575rem 0;
	cursor: pointer;
}

.action-booking {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 4.5rem;
	padding: 0;

	.btn {
		height: 100%;
		width: 100%;
		font-size: 1.125rem;
	}
}

.book-label {
	display: block;
	margin-bottom: 4px;
	font-size: 10px;
	font-family: $font_family_sec_500;
	text-transform: uppercase;
}

.book-details {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #959595;
	font-family: $font_family_sec_500;

	.icon-down-open-big {
		font-size: 13px;
		color: $primary;
		transform: rotate(0);

		&.active {
			transform: rotate(-180deg);
		}
	}

	.icon-calendar-1 {
		color: $primary;
	}
}




// .booking-tabs {
// 	display: flex;
// 	// flex-direction: column;
// 	width: 100%;
// 	text-align: center;
// 	list-style-type: none;
// 	background-color: rgba(0, 0, 0, 0.6);

// 	a {
// 		color: #fff;
// 	}

// 	li {
// 		padding: .75rem 0;
// 		width: calc(100% /3);
// 	}
// }

// .booking-content {
// 	display: none;
// 	background-color: #000;
// 	padding: 2rem 3rem;

// 	&.active {
// 		display: block;
// 	}
// }

// .booking-tabItem {
// 	border-top: 3px solid rgb(27, 27, 27);
// 	font-weight: 500;
// 	width: 100%;
// 	cursor: pointer;

// 	&.active {
// 		color: #df6a2e;
// 		background-color: #000;
// 		font-weight: 600;
// 		border-top: 3px solid #df6a2e;
// 	}
// }

.heading-top {
	padding-bottom: 1rem;
	text-align: center;

	.sub-title {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	span {
		text-transform: uppercase;
		font-weight: 600;
		color: #a7a7a7;
		border-bottom: 2px solid $primary;
	}
}

.block-content {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 6rem;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: left;
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&.reversed {
		.card-details {
			padding-left: 0;
		}

		.card-img {
			padding-left: 0;

			img {
				box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, .2);
			}

		}
	}
}


.card-img {
	img {
		display: block;
		width: 100%;
	}
}

.card-details {

	h2,
	h3 {
		margin-top: 1.75rem;
		margin-bottom: 1rem;
	}

	p {
		line-height: 26px;
		margin-bottom: 1rem;
	}
}

.card-links {
	padding-top: 1rem;

	a {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		font-size: 1.3rem;
		height: 1rem;

		&:hover {
			span {
				transform: translateX(12px);
				transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
			}

			// &:before {
			// 	width: 13%;
			// 	transform: width;
			// }
		}

		&:before {
			content: '';
			position: relative;
			display: block;
			width: 10%;
			height: 1px;
			margin-right: 1rem;
			background-color: $primary;
			transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		span {
			font-size: 14px;
			margin-left: 8px;
			transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}
}

.feaured-banner {
	position: relative;
	height: 100%;
	max-height: 500px;


	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.text-content {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		color: $white;
	}
}

.signup-bottom {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #F2F2F2;
}

.signup-wrapper {
	padding-top: 4rem;
	padding-bottom: 4rem;

	.img-container {
		margin-bottom: 2rem;

		img {
			display: block;
			width: 100%;
		}
	}

	.actions {
		* {
			margin-right: 1.5rem;
		}
	}
}

.signup-heading {
	margin-bottom: 1.5rem;

	h2 {
		margin-bottom: 1.5rem;
	}
}