.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.secondary {
  color: $secondary;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}