.custom-select {
  position: relative;

  .select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CBCBCB;
    cursor: pointer;
    height: 46px;
    color: #727272;
  }

  .selected-option {
    flex-grow: 1;
    padding-left: 1.5rem;
  }

  .arrow {
    width: 10px;
    height: 10px;
    border-left: 1px solid #504f4f;
    border-bottom: 1px solid #5e5c5c;
    transform: rotate(315deg);
    transition: transform 0.2s;
  }

  .icon-down-open-big {
    padding-right: 1rem;
    color: $primary;
  }

  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    border-top: 0;
    z-index: 999;
  }

  .option {
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: #727272;
  }

  .option:hover {
    background-color: #f0f0f0;
    color: #000000;
  }
}

.book-now-form-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: $white;
  z-index: 5;
}


.book-header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: $brown;
  padding: 2rem 1.5rem;
  color: $white;

  p {
    color: $white;
    font-size: 1.3rem;
  }

  .close-btn {
    margin-left: auto;
    color: $white;
  }
}

.book-fill-up-form {
  background-color: $white;
  padding: 3rem 1.5rem;
}