.custom-select {
  position: relative;

  .select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CBCBCB;
    cursor: pointer;
    height: 46px;
    color: #727272;
  }

  .selected-option {
    flex-grow: 1;
    padding-left: 1.5rem;
    color: #8C8C8C;
    font-family: $font-family_sec_500;

    &.text-changed {
      color: $brown;
    }
  }

  .arrow {
    width: 10px;
    height: 10px;
    border-left: 1px solid #504f4f;
    border-bottom: 1px solid #5e5c5c;
    transform: rotate(315deg);
    transition: transform 0.2s;
  }

  .icon-down-open-big {
    padding-right: 1rem;
    color: $primary;
  }

  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    border-top: 0;
    z-index: 999;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #727272;
    font-family: $font-family_sec_500;
  }

  .option:hover {
    background-color: #f0f0f0;
    color: #000000;
  }

  .option-category-title {
    color: #474747;
    font-family: $font-family_sec_500;
    margin-bottom: .5rem;
    font-weight: 600;
    cursor: default;
  }

  .option-category {
    padding: 1.25rem 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eaeaea;
    }
  }
}