$fontello_font_path : '../../fonts/fontello/css/fontello.css';
$fontello: 'fontello';
$font_family_600: 'Montserrat_Black', sans-serif;
$font_family_sec: 'Avenir_Roman', sans-serif;



$font_family: 'Montserrat', sans-serif;
$font_family_900: 'Montserrat_Black', sans-serif;
$font_family_800: 'Montserrat_ExtraBold', sans-serif;
$font_family_700: 'Montserrat_Bold', sans-serif;
$font_family_600: 'Montserrat_SemiBold', sans-serif;
$font_family_500: 'Montserrat_Medium', sans-serif;
$font_family_300: 'Montserrat_Light', sans-serif;



// $font_family: // $font_fami // font-family: 'Montserrat',
// sans-serif;