$fontello_font_path : '../../fonts/fontello/css/fontello.css';
$fontello: 'fontello';
$font_family: 'Montserrat', sans-serif;
$font_family_sec: 'Avenir_Roman', sans-serif;

// $font_family: // $font_fami // font-family: 'Montserrat',
// sans-serif;