$fontello_font_path : '../../fonts/fontello/css/fontello.css';
$fontello: 'fontello';



// $font_family_sec: 'Avenir_Roman', sans-serif;
// $font_family_sec_300: 'Avenir_Book', sans-serif;
// $font_family_sec_900: 'Avenir_Black', sans-serif;


$font_family_sec_300: 'Avenir_Light', sans-serif;
$font_family_sec: 'Avenir_Roman', sans-serif;
$font_family_500: 'Avenir_Book', sans-serif;
$font_family_sec_600: 'Avenir_Medium', sans-serif;
$font_family_sec_700: 'Avenir_Heavy', sans-serif;
$font_family_sec_900: 'Avenir_Black', sans-serif;



$font_family: 'Montserrat', sans-serif;
$font_family_900: 'Montserrat_Black', sans-serif;
$font_family_800: 'Montserrat_ExtraBold', sans-serif;
$font_family_700: 'Montserrat_Bold', sans-serif;
$font_family_600: 'Montserrat_SemiBold', sans-serif;
$font_family_500: 'Montserrat_Medium', sans-serif;
$font_family_300: 'Montserrat_Light', sans-serif;



// $font_family: // $font_fami // font-family: 'Montserrat',
// sans-serif;