/*VARIABLES*/
$full-width-desk: calc(100% - 1rem);
$full-height-desk: calc(100vh - 5.5rem);
$full-width-mob: calc(100% - 4rem);
$full-height-mob: calc(100vh - 7rem);

$gap: calc((26 - 14) * ((100vw - 300px) / (1600 - 300)));
//ex: padding-top: calc(1rem + $gap);

/*DOMS*/
:root {
	--base-font: 'Montserrat', sans-serif;
	--base-font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: var(--base-font-size);
	font-family: var(--base-font);
	font-weight: 400;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

body.inner {
	overflow-y: auto;
}

// containers
header {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	z-index: 999;
	background-color: #eee;
}

a {
	font-family: $font_family_sec;
	text-decoration: none;
	color: $primary;
}

h1 {
	font-family: $font_family_800;
	color: $brown;
}

h2 {
	font-family: $font_family_600;
	color: $brown;
	line-height: 40px;
}

h3,
h4 {
	font-family: $font-family;
}

h5 {
	font-family: $font_family;
}

h3 {
	color: $brown;
	line-height: 30px;
}

h4,
h5 {
	color: $gray;
}

h1,
.heading-1 {
	font-size: 2.8rem;
}

h2,
.heading-2 {
	font-size: 2.2rem;
}

h3,
.heading-3 {
	font-size: 2rem
}

h4,
.heading-4 {
	font-size: 1.5rem
}

p {
	font-family: $font_family_sec_500;
	color: $gray;
}

aside {
	position: relative;

	margin: 0;
	padding: 0;

	font-family: inherit;

	.container {
		padding: calc(1rem + $gap);
	}
}

footer {
	margin: 0;
	padding: 0;
}

.icon-light-search:before {
	font-size: 1.1rem;
	color: $primary;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=time] {
	font-family: $font-family-sec-500;
	border: 1px solid #CBCBCB;
	height: 46px;
	color: $brown;
	outline: none;
	border-radius: 0;
	background-color: $white;
	appearance: none;
	-webkit-appearance: none;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 100%;

	&::placeholder {
		color: #727272;
	}
}

input[type=date] {
	padding-right: 1rem;

	&::placeholder {
		color: #727272;
	}
}

input[type=checkbox] {
	cursor: pointer;
	background: #F2F2F2;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	min-height: 20px;
}

input[type=time]::-webkit-calendar-picker-indicator {
	opacity: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

input[type=time] {
	position: relative;
	padding-right: .5rem;
	z-index: 1;

	&::before {
		content: 'Select time';
		position: absolute;
		background: #fff;
		width: 75%;
		color: #727272;
	}

	&::after {
		content: '\e824';
		position: absolute;
		display: inline-block;
		font-family: 'fontello';
		color: $primary;
		right: 1rem;
		z-index: -1;
		cursor: pointer;
	}

	&.active {
		&::before {
			content: '';
		}
	}

	&.input-type-start {
		&::before {
			content: 'Start time';
		}
	}

	&.input-type-end {
		&::before {
			content: 'End time';
		}
	}
}



.input-checkbox {
	display: flex;
	cursor: pointer;
	align-items: flex-start;

	input[type=checkbox] {
		margin-top: 5px;
	}
}

.checkbox-text {
	margin-left: 12px;
	font-family: $font_family_sec-500;
	font-size: 14px;
	line-height: 24px;
}

select {
	border: 1px solid #CBCBCB;
	font-family: $font-family-sec-500;
	height: 46px;
}

.time-group {
	display: flex;
	column-gap: 1.5rem;
}


input[type=text].booking-date {
	color: #908f8f;
	background-color: transparent;
	border: 0;
	width: 100%;
	outline: 0;
	height: auto;
	padding: 0;
	cursor: pointer;
}

textarea {
	font-family: $font-family-sec-500;
	border: 1px solid #CBCBCB;
	color: $brown;
	outline: none;
	border-radius: 0;
	background-color: $white;
	appearance: none;
	-webkit-appearance: none;
	padding: 1rem 1.5rem;
	width: 100%;
	resize: none;

	&:focus-visible {
		outline: 0;
	}

	&::placeholder {
		color: #727272;
	}
}


.radio-input-group {
	display: flex;
	column-gap: 2rem;
	margin-bottom: 1rem;
	margin-right: 30%;
	margin-left: auto;

	.group {
		display: flex;
		align-items: center;
		justify-content: center;

		label {
			font-size: 14px;
			margin-left: 6px;
		}
	}

	input[type=radio] {
		cursor: pointer;
	}

	// input[type=radio] {
	// 	height: 16px;
	// 	width: 16px;
	// 	appearance: none;
	// 	-webkit-appearance: none;
	// 	-moz-appearance: none;
	// 	border: 1px solid $primary;
	// 	border-radius: 50%;
	// 	transition: border-color 0.3s ease-in-out;

	// 	&:checked {
	// 		background-color: $primary;
	// 		border-color: $primary;
	// 	}
	// }

}

.radio-group {
	display: flex;
}

.flatpickr-calendar.animate.open {
	margin-top: 22px;
	margin-left: -39px;
}

.flatpickr-day.prevMonthDay.flatpickr-disabled {
	color: #b6b6b64d;
}

.pt {
	padding-top: 1.5rem;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.m-auto {
	margin: 0 auto;
}

.d-none {
	display: none;
}

@mixin shadow {
	box-shadow: 0 .3rem 1rem alpha($c3-dgray, 0.3);
}


/*DISPLAY FLEX */
@mixin flex($behavior, $wrap: nowrap, $gap: $gap) {
	$justify: flex-start;
	$align: flex-start;
	$orientation: row;
	$spacing: flex-start;

	@if($behavior =="row-top-left") {
		$orientation: row;
	}

	@else if($behavior =="row-top-right") {
		$orientation: row;
		$justify: flex-end;
	}

	@else if($behavior =="row-bottom-left") {
		$orientation: row;
		$spacing: flex-end;
	}

	@else if($behavior =="row-bottom-wide") {
		$orientation: row;
		$justify: space-between;
		$spacing: flex-end;
	}

	@else if($behavior =="row-top-left-full") {
		$orientation: row;
		$align: stretch;
	}

	@else if($behavior =="row-center-top") {
		$orientation: row;
		$align: flex-start;
		$justify: center;
		$spacing: flex-start;
	}

	@else if($behavior =="row-top-right-full") {
		$orientation: row;
		$justify: flex-end;
		$align: stretch;
	}

	@else if($behavior =="row-center-left") {
		$orientation: row;
		$spacing: center;
		$align: center;
	}

	@else if($behavior =="rev-row-center-left") {
		$orientation: row-reverse;
		$spacing: center;
		$align: center;
	}

	@else if($behavior =="row-center-center") {
		$orientation: row;
		$align: center;
		$justify: center;
		$spacing: center;
	}

	@else if($behavior =="row-top-wide") {
		$orientation: row;
		$justify: space-between;
	}

	@else if($behavior =="row-center-wide") {
		$orientation: row;
		$align: center;
		$justify: space-between;
	}

	@else if($behavior =="row-center-even") {
		$orientation: row;
		$align: center;
		$justify: space-around;
	}

	@else if($behavior =="row-center-full") {
		$orientation: row;
		$spacing: stretch;
	}

	@else if($behavior =="column-top-left") {
		$orientation: column;
	}

	@else if($behavior =="column-center-left") {
		$orientation: column;
		$justify: center;
	}

	@else if($behavior =="column-center-right") {
		$orientation: column;
		$align: flex-end;
		$justify: center;
	}

	@else if($behavior =="column-top-wide") {
		$orientation: column;
		$justify: space-between;
	}

	@else if($behavior =="rev-column-top-left") {
		$orientation: column-reverse;
		$justify: flex-end;
	}

	@else if($behavior =="column-top-center") {
		$orientation: column;
		$align: center;
	}

	@else if($behavior =="column-bottom-center") {
		$orientation: column;
		$align: center;
		$justify: flex-end;
		$spacing: center;
	}

	@else if($behavior =="column-center-center") {
		$orientation: column;
		$align: center;
		$justify: center;
	}

	display: flex;
	flex-flow: $orientation $wrap;
	justify-content: $justify;
	align-items: $align;
	align-content:$spacing;
	gap:$gap;
}


/*BACKGROUND*/
@mixin bg-image($src, $size: 100%, $attachment: inherit, $position: initial, $repeat: no-repeat, $color: transparent, $gradient: false, $gDirection: to bottom, $gColor1: rgb(255 255 255 / 1), $gColor2: rgb(0 0 0 / 1)) {
	$path: '../img/'+$src;

	@if($src !='none' and $gradient) {
		background-image: url($path), linear-gradient($gDirection, $gColor1, $gColor2);
	}

	@else if($src =='none' and $gradient) {
		background-image: linear-gradient($gDirection, $gColor1, $gColor2);
	}

	@else {
		background-image: url($path);
	}

	background-size:$size;
	background-position: $position;
	background-attachment: $attachment;
	background-repeat: $repeat;
	background-color: $color;
}


// General Responsive

@media only screen and (max-width: 768px) {

	h1,
	.heading-1 {
		font-size: 1.75rem;
		line-height: 40px;
	}

	h2,
	.heading-2 {
		font-size: 1.625rem;
	}

	h3,
	.heading-3 {
		font-size: 1.35rem;
	}

	h4,
	.heading-4 {
		font-size: 1.3rem;
	}

	p {
		font-size: 0.9375rem;
		line-height: 22px;
	}

	a {
		font-size: 0.9375rem;
	}


	.recommend-tag {
		font-size: 13px;

		+p {
			font-size: 13px;
			line-height: 1;
		}
	}


	.flatpickr-calendar.animate.open {
		margin-left: -22px;
	}
}