// Colors
$primary: #df6a2e;
$brown: #231e1a;
$brown_light: #2c2724;
$gray: #5d5d5d;
$gray_light: #989898;
$white: #ffffff;
$black: #000000;

// Screens

$media-string: "only screen and ";
$screen_320: 320px;
$screen_640: 640px;
$screen_768: 768px;
$screen_1024: 1024px;
$screen_1100: 1100px;
$screen_1440: 1440px;
$screen_1860: 1860px;
$screen_1920: 1920px;