// Screen 1024px up
@media only screen and (min-width: $screen_1100) {
  .side-nav {
    display: none;
  }

  .header-menu {
    display: flex;
    padding-left: 6rem;
  }

  .header-first {
    display: block;

    .wrapper {
      display: flex;
    }
  }

  .header-second {
    margin-top: 2.5rem;

    .menu-link {
      padding: 42px 8px;
    }

    &.on-scroll {
      .menu-link {
        padding: 27px 8px;
      }
    }
  }

  .toggle-container {
    display: none;
  }

  .search-container {
    &.active {
      top: -100px;
      z-index: 5;
    }

    .search {
      width: 75%;
    }
  }

  .logo-container {
    display: none;
  }

  .logo-img {
    width: 200px;
    // width: 280px;
  }

  .menu-link {
    font-size: 14px;
  }


  .btn-header {
    height: 100px;
    margin-right: 3rem;
    transition: height .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &.on-scroll {
      height: 70px;
      transition: height .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }


  .search-btn {
    display: none;
  }

  .btn-header {
    left: 2rem;
    right: auto;
  }

  .side-menu-mask {
    height: 0;
  }
}


@media only screen and (min-width: 1280px) {
  .logo-img {
    width: 220px;
  }
}

@media only screen and (min-width: 1320px) {
  .btn-header {
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 1420px) {
  .menu-link {
    font-size: 1rem;
    padding: 0 10px;
  }

  .book-now {
    font-size: 14px;
  }
}


@media only screen and (min-width: 1580px) {
  .header-second.on-scroll {
    .logo-img {
      width: 220px;
      transition: width .25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    }

    .btn.book-now {
      transform: scale(.875);
      transition: transform .25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    }
  }

  .logo-img {
    width: 280px;
    transition: width .25s cubic-bezier(0.785, 0.135, 0.15, 0.86)
  }

  .menu-link {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .btn.book-now {
    font-size: 1rem;
    transform: scale(1);
    transition: transform .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

@media only screen and (max-width: 1360px) {

  .side-menu-item {
    .menu-link {
      font-size: 1.125rem;

      .icon-down-open-big {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: $screen_768) {
  .side-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .logo-container {
    justify-content: flex-start;
    margin-left: 4rem;
  }

  .btn.book-now {
    padding: 10px;
  }

  .search-btn {
    padding: 10px;

    .icon-light-search::before {
      font-weight: 400;
    }
  }
}

// Screen below 1100px
@media only screen and (max-width: $screen_1100) {
  .header-second {
    top: 0 !important;
    padding: 0 !important;
    height: 70px;
    background-color: $white;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .1);
  }

  .logo-container {
    height: 70px;
    top: 0;
  }

  .logo {
    top: 0;
  }

  .side-menu-mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    left: 0px;
    top: 70px;
    display: none;

    &.active {
      display: block;
    }
  }


}