@media only screen and (max-width: $screen_768) {
  .main-slider {
    .content-text {
      padding: 6%;
      margin-bottom: 6rem;

      h1 {
        font-size: 1.625rem;
      }

      p {
        font-size: 0.875rem;
        max-width: 85%;
      }
    }


  }

  .block-content {
    padding-bottom: 4.5rem;
  }

  // .slider-with-tab {
  //   // padding-bottom: 3rem;
  // }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .feaured-banner {
    .text-content {
      h2 {
        font-size: 1.125rem;
      }
    }
  }

  .card-container {
    .card-img {
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .card-details {
    padding: 0 1rem;

    h2,
    h3 {
      margin-top: 1.5rem;
    }
  }

  .card-links {
    a {
      margin-bottom: 1rem;
    }
  }

  .form-search {
    .form-group {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: $screen_1024) {
  .card-container {
    align-items: center;
    text-align: center;

    &.reversed {
      text-align: left;
    }
  }

  .card-links {
    a {
      font-size: 1rem;

      &:before {
        display: none;
      }
    }
  }

  .feaured-banner {
    .text-content {
      h2 {
        padding: 0 1rem;
      }
    }
  }
}


@media only screen and (min-width: $screen_768) {
  .content-wrapper {
    max-width: 70%;
    margin-bottom: 4rem;
  }

  .book-select {
    padding: 1.5rem 2.5rem;
  }

  .signup-wrapper {
    .signup-heading {
      width: 50%;
    }

    .img-container {
      position: absolute;
      right: 0;
      top: 6rem;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .dining-experience {
    flex-direction: row;

    .swiper-slide {
      width: calc(50% - 2rem);
      padding: 1rem;
    }
  }

  .search-all {
    .form-search {
      gap: 2rem;
      flex-direction: row;
      padding: 1rem;
    }
  }
}


@media only screen and (min-width: $screen_1024) {

  .overlay-parallax {
    margin-top: 100vh;
  }

  .hero-parallax {
    height: 100vh;
  }

  .book-widget {
    flex-direction: row;
    // justify-content: space-between;
  }

  .booking {
    padding: 2rem 3rem;
    // transform: translateY(-80px);
    // margin-bottom: -80px;
    transform: translateY(-82px);
    transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: 0 2rem;
    margin-bottom: 0;

    &.on-scroll {
      transform: translateY(-45px);
      transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    li {
      padding: 1.5rem 0;
    }
  }



  .book-item {
    width: calc(100%/5);

    &:after {
      top: 32%;
      right: 0;
      height: 44%;
      width: 1px;
    }
  }

  .book-list {
    position: absolute;
    width: 100%;
  }

  .action-booking {
    max-width: 170px;
    padding: 0;
    height: auto;
    margin-left: auto;
  }



  .hero-parallax {
    margin-top: 40px;
  }

  .main-slider {
    .swiper-pagination {
      margin-bottom: 14rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
  }

  .heading-top {
    padding-bottom: 2rem;
  }

  // Card 
  .card-container {
    flex-direction: row;
    align-items: flex-start;

    .card-img,
    .card-details {
      width: calc(100%/2);
    }

    .card-img {
      max-width: 560px;
    }

    // &.reversed {
    //   flex-direction: row-reverse;

    //   .card-img {
    //     max-width: 480px;
    //     margin-right: auto;
    //     padding-left: 2rem;
    //     box-shadow: 110px 100px 0px -30px rgba(239, 239, 239, 1);
    //   }
    // }

  }



  .card-container-2 {
    max-width: 50%;

    .card-img {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        // box-shadow: 110px 100px 0px -30px rgba(239, 239, 239, 1);
      }

      .img-shadow {
        display: block;
      }
    }
  }

  .card-details {
    padding-left: 2.5rem;

    h2,
    h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  .block-content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }


  .swiper-pagination {
    display: none;
  }

  .main-pagination {
    display: none;
  }

  .content-wrapper {
    max-width: 100%;
    margin-bottom: 6rem;
  }


  .block-content.signup-wrapper {
    padding-top: 4rem;

    .img-container {
      img {
        width: 75%;
      }
    }
  }

  .see-all-container {
    margin-top: 4.5rem;

    .btn.pri-btn {
      padding: 1rem 2.5rem;
    }
  }


}