@media only screen and (min-width: $screen_768) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $screen_1024) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .booking-details {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }


  .main-book-form {
    .booking-details {
      grid-template-columns: 1fr;
    }


    .img-container-logo {
      img {
        display: block;
        margin-left: auto;
      }
    }
  }

  .body-form-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

  }

  .col-2 {
    grid-template-columns: 1fr 1fr;
  }

  .form-flex {
    .form-action {
      width: 50%;
      margin-left: auto;
    }
  }

}

@media only screen and (min-width: $screen_1100) {
  .book-now-form-container {
    top: -40px;
  }

  .header-second.on-scroll {
    .book-now-form-container {
      top: 0;
    }
  }
}