$media-string: "only screen and ";
$smallmobile: $media-string+"(max-width: 320px)";
$tablet: $media-string+"(max-width: 768px)";
$large-tablet: $media-string+"(max-width: 1024px)";
$large-desktop: $media-string+"(min-width: 1200px)";
$larger-desktop: $media-string+"(min-width: 1400px)";
$largest-desktop: $media-string+"(min-width: 1860px)";
$l4k-desktop: $media-string+"(min-width: 3000px)";

$media-tablet: 640px;
$media-largeTablet: 768px;
$media-desktop: 1024px;
$media-largeDesktop: 1440px;

// @media (max-width: $media-desktop) {
// 	:root{
// 		--base-font-size: 16px;
// 	}

// 	h1{font-size: calc(3rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h2{font-size: calc(2.6rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h3{font-size: calc(1.5rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h4{font-size: calc(1.2rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h5{font-size: calc(1rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h6{font-size: calc(.9rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	p{font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	a{font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	ul,ol{
// 		margin: 1rem 0;
// 		padding: 1rem 0;
// 		li{
// 			line-height: 1.5;
// 			font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
// 		}
// 	}

// }

// @media (max-width: $media-tablet) {
// 	:root{
// 		--base-font-size: 16px;
// 	}

// 	h1{font-size: calc(3rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h2{font-size: calc(2.6rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h3{font-size: calc(1.5rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h4{font-size: calc(1.2rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h5{font-size: calc(1rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	h6{font-size: calc(.9rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	p{font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	a{font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));}

// 	ul,ol{
// 		margin: 1rem 0;
// 		padding: 1rem 0;
// 		li{
// 			line-height: 1.5;
// 			font-size: calc(.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
// 		}
// 	}

// }