@media only screen and (min-width: $screen_1024) {
  .featured-slider-container {
    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        background-color: $white;
      }
    }

    .swiper-pagination {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      background-color: rgb(255, 255, 255, .25);
    }
  }

  .slider-2 {
    .info {
      padding-right: 2rem;
      width: 80%;
    }

    .description {
      flex-direction: row;
    }
  }

  .indulgent-dining {
    margin-bottom: 6rem;
  }


}

@media only screen and (min-width: 1440px) {

  .featured-slider-container {
    &:hover {

      div.swiper-button-next,
      div.swiper-button-prev {
        background-color: $white;
      }
    }

    .swiper-button-next {
      right: -6.5%;
    }

    .swiper-button-prev {
      left: -6.5%;
    }
  }
}


// @media only screen and (max-width: 768px) {
//   .featured-slider-container {
//     background-color: aquamarine;

//     .img-holder {
//       max-height: 50%;
//     }
//   }
// }

// @media only screen and (max-width: 480px) {

//   .featured-slider-container {
//     // background-color: red;

//     .img-holder {
//       // max-height: 200px !important;

//       max-height: 300px;

//       img {
//         // max-width: 300px;
//         // max-height: 200px;
//         // max-height: 100%;
//         // max-width: 100%;
//       }
//     }
//   }
// }