@media only screen and (min-width: $screen_1024) {
  .featured-slider {
    .swiper-pagination {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
  }
}


@media only screen and (max-width: 768px) {
  .featured-slider-container {
    .img-holder {
      max-width: 768px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .featured-slider-container {
    // background-color: red;

    .img-holder {
      // max-height: 200px !important;

      img {
        // max-width: 300px;
        // max-height: 200px;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}