// Screen 1024px up
@media only screen and (min-width: $screen_1024) {
  .side-nav {
    display: none;
  }

  .header-menu {
    display: flex;
  }

  .header-first {
    display: block;

    .wrapper {
      display: flex;
    }
  }

  .header-second {
    margin-top: 2.5rem;
  }

  .toggle-container {
    display: none;
  }

  .search-container {
    &.active {
      top: 0;
    }

    .search {
      width: 40%;
    }
  }

  .search-btn {
    display: none;
  }

  .main-pagination {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .main-slider {}

}

// Screen 1350px up
@media only screen and (max-width: 1350px) {
  .book-now {
    display: none;
  }
}

@media only screen and (min-width: $screen_768) {
  .side-nav {
    width: 100%;
  }
}

// Screen below 1024px
@media only screen and (max-width: $screen_1024) {
  .header-second {
    top: 0 !important;
    padding: 0 !important;
    height: 70px;
    background-color: $white;
  }

  .logo-container {
    height: 70px;
    top: 0;
  }

  .logo {
    top: 0;

    .logo-img {
      height: auto !important;
    }
  }

  .side-menu-mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    left: 0px;
    top: 70px;
    display: none;

    &.active {
      display: block;
    }
  }

  .book-now {
    display: none;
  }

  .overlay-parallax {
    margin-top: 53vh;
  }

  .main-slider {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  // .search-btn {
  //   right: 15%;
  // }
}




@media only screen and (max-width: $screen_768) {
  .main-slider {
    .content-text {
      padding: 6%;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.875rem;
      }
    }
  }
}