@media only screen and (min-width: $screen_1024) {
  .featured-slider-container {

    .swiper-pagination {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
      padding: 1.5rem;
    }
  }


  .indulgent-dining {
    margin-bottom: 6rem;
  }

  .full-width {
    h2 {
      text-align: left;
      padding-bottom: 0;
    }

    .info {
      padding-right: 2rem;
      width: 80%;
    }

    .description {
      flex-direction: row;
    }
  }

  .date-select {
    width: 26%;
  }
}

@media only screen and (min-width: 1440px) {

  .featured-slider-container {

    .swiper-button-next {
      right: -6.5%;
    }

    .swiper-button-prev {
      left: -6.5%;
    }
  }
}

@media only screen and (max-width: $screen_1024) {

  .featured-slider-container {

    .swiper-button-next,
    .swiper-button-prev {
      padding: 15px;
      height: 15px;
      width: 15px;

      &:after {
        font-size: 1rem;
      }
    }
  }

  .full-width {
    background-color: #F2F2F2;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }

  .card-container-2 {
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $screen_768) {

  .featured-slider-container {

    .description {
      p {
        margin-bottom: 1rem;
      }
    }
  }

  .action-single-btn {

    .btn {
      width: 100%
    }
  }


}

@media only screen and (max-width: 500px) {
  .featured-slider-container {

    .swiper-button-next,
    .swiper-button-prev {
      padding: 13px;
      height: 13px;
      width: 13px;
      top: 28%;

      &:after {
        font-size: 15px;
      }
    }
  }
}


// @media only screen and (max-width: 768px) {
//   .featured-slider-container {
//     background-color: aquamarine;

//     .img-holder {
//       max-height: 50%;
//     }
//   }
// }

// @media only screen and (max-width: 480px) {

//   .featured-slider-container {
//     // background-color: red;

//     .img-holder {
//       // max-height: 200px !important;

//       max-height: 300px;

//       img {
//         // max-width: 300px;
//         // max-height: 200px;
//         // max-height: 100%;
//         // max-width: 100%;
//       }
//     }
//   }
// }