@media only screen and (min-width: $screen_1024) {
  .book-widget {
    flex-direction: row;
    justify-content: space-between;
  }

  .booking {
    padding: 2rem 3rem;
    // transform: translateY(-80px);
    // margin-bottom: -80px;
    transform: translateY(-82px);
    transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: 0 2rem;

    &.on-scroll {
      transform: translateY(-45px);
      transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    li {
      padding: 1.5rem 0;
    }
  }

  .book-item {
    width: calc(100%/5);
    padding: 1.5rem 2.5rem;

    &:after {
      top: 32%;
      right: 0;
      height: 44%;
      width: 1px;
    }
  }

  .action-booking {
    max-width: 170px;
    padding: 0;
    height: auto;
  }

  .hero-parallax {
    margin-top: 40px;
  }

  .main-slider {
    .swiper-pagination {
      margin-bottom: 14rem;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem;
    height: 2rem;
    width: 2rem;

    &:after {
      font-size: 2rem;
    }
  }

  .swiper-button-next {
    right: 2%;
  }

  .swiper-button-prev {
    left: 2%;
  }

  .main-slider {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}