@media only screen and (max-width: $screen_768) {
  .main-slider {
    .content-text {
      padding: 6% 2%;
      margin-bottom: 6rem;

      h1 {
        font-size: 1.875rem;
      }

      p {
        font-size: 0.875rem;
        max-width: 85%;
      }
    }
  }
}

@media only screen and (min-width: $screen_1024) {

  .overlay-parallax {
    margin-top: 100vh;
  }

  .hero-parallax {
    height: 100vh;
  }

  .book-widget {
    flex-direction: row;
    justify-content: space-between;
  }

  .booking {
    padding: 2rem 3rem;
    // transform: translateY(-80px);
    // margin-bottom: -80px;
    transform: translateY(-82px);
    transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: 0 2rem;
    margin-bottom: 4rem;

    &.on-scroll {
      transform: translateY(-45px);
      transition: transform .25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    li {
      padding: 1.5rem 0;
    }
  }

  .book-item {
    width: calc(100%/5);

    &:after {
      top: 32%;
      right: 0;
      height: 44%;
      width: 1px;
    }
  }

  .book-list {
    position: absolute;
    width: 100%;
  }

  .action-booking {
    max-width: 170px;
    padding: 0;
    height: auto;
  }

  .hero-parallax {
    margin-top: 40px;
  }



  .swiper-button-next,
  .swiper-button-prev {
    padding: 1rem;
    height: 2rem;
    width: 2rem;

    &:after {
      font-size: 2rem;
    }
  }

  .swiper-button-next {
    right: 2%;
  }

  .swiper-button-prev {
    left: 2%;
  }


  .main-slider {
    .swiper-pagination {
      margin-bottom: 14rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }

    .main-pagination {
      display: none;
    }
  }

  .heading-top {
    padding-bottom: 2rem;
  }

  // Card 
  .card-container {
    flex-direction: row;

    .card-img,
    .card-details {
      width: calc(100%/2);
    }
  }

  .card-details {
    padding-left: 2.5rem;


    h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }

  .block-content {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

}