// Screen 1024px up
@media only screen and (min-width: $screen_1100) {
  .side-nav {
    display: none;
  }

  .header-menu {
    display: flex;
    padding-left: 6rem;
  }

  .header-first {
    display: block;

    .wrapper {
      display: flex;
    }
  }

  .header-second {
    margin-top: 2.5rem;
  }

  .toggle-container {
    display: none;
  }

  .search-container {
    &.active {
      top: 0;
    }

    .search {
      width: 40%;
    }
  }

  .search-btn {
    display: none;
  }

  .main-pagination {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .logo-img {
    width: 200px;
    // width: 280px;
  }

  .menu-link {
    padding: 0 8px;
    font-size: 14px;
  }

  .book-now {
    right: auto;
    left: 2rem;
  }

}


@media only screen and (min-width: 1280px) {
  .book-now {
    right: 3%;
    left: auto;
  }

  .logo-img {
    width: 220px;
  }

}

@media only screen and (min-width: 1420px) {
  .menu-link {
    font-size: 1rem;
    padding: 0 10px;
  }

  .book-now {
    font-size: 14px;
  }
}


@media only screen and (min-width: 1580px) {
  .logo-img {
    width: 280px;
  }

  .menu-link {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .btn.book-now {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1360px) {

  .side-menu-item {
    .menu-link {
      font-size: 1.125rem;

      .icon-down-open-big {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: $screen_768) {
  .side-nav {
    width: 100%;
  }
}

// Screen below 1100px
@media only screen and (max-width: $screen_1100) {
  .header-second {
    top: 0 !important;
    padding: 0 !important;
    height: 70px;
    background-color: $white;
  }

  .logo-container {
    height: 70px;
    top: 0;
  }

  .logo {
    top: 0;

    .logo-img {
      height: auto !important;
    }
  }

  .side-menu-mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    left: 0px;
    top: 70px;
    display: none;

    &.active {
      display: block;
    }
  }

  .book-now {
    display: none;
  }



  // .search-btn {
  //   right: 15%;
  // }
}