@media only screen and (min-width: $screen_1100) {
	.footer-content {
		display: flex;

		&.left-content {
			width: 30%;
		}

		&.right-content {
			width: 60%;

			.footer-block {

				width: calc(100%/3);
			}
		}
	}

	.footer-inner-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 3rem 2rem 3rem;
	}

	.footer-block {
		display: flex;
		flex-direction: column;
		// width: calc(100%/4);

		&:not(:first-child) {
			padding-left: 2%;
		}

		&.added {
			display: none;
		}
	}

	.footer-logo {
		text-align: left;
	}

	.footer-menu {
		display: block !important;


	}

	.footer-inner-title {
		display: block;
		margin-top: 2rem;
	}

	.social {
		text-align: left;
	}


	.footer-title {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1rem;
		cursor: default;

		span {
			visibility: hidden;
		}
	}

	.footer-link {
		font-size: 13px;
	}

	.footer-links {
		flex-direction: row;
	}

	.footer-copyright {
		display: flex;
		justify-content: space-between;
		padding: 1rem;

		a {
			padding: 0 .75rem;
		}
	}

	.social-links {
		justify-content: flex-start;
	}

}

@media only screen and (max-width: $screen_1100) {

	.footer-title {
		border-top: 1px solid #4b4b4b;
	}

	.social {
		margin-bottom: 2.4rem;
		justify-content: center;
	}

	.footer-copyright {
		div {
			display: flex;
			justify-content: space-around;
			margin: .765rem 0;
		}
	}
}

@media only screen and (max-width: 480px) {
	.social {
		margin-bottom: 2.4rem;
		justify-content: center;
		flex-direction: column;

		p {
			margin-bottom: 1rem;
		}
	}
}